/* Enter your custom styles here */

.fullWidth {
    width: -webkit-fill-available !important;
    background-size: cover;
}


/* SlideTile Wrapper */
.sapMSTWrapper {
    width: inherit !important;
}

#addItemContainer,
#viewItemDiscountsContainer,
#addDiscountContainer,
#addVendorPassengerDiscountContainer,
#addCustomerTripContainer {
    padding: 1rem !important;
}

.sapMGTHdrTxt > span, .sapMGTSubHdrTxt > span, .sapMGTContent div {
	color: white !important;
}